/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 53em) {
    .centered {
        max-width: 53em;
        /* changed from 52em */
    }
}
